.country-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 100vh;
    gap: 120px;
    max-width: 1200px;
    margin: auto;
}
.buttonArr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 0px;
    top: 170px;
}
.arrowButton{
    align-items: center;
    gap: 5px;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex; /* Gör den till en flex-container */
    cursor: pointer;
}
.arrowButton img {
    width: 20px; /* Anpassa bildens storlek */
    height: 20px;
    display: inline-block;
}

.arrowButton p {
    font-size: 18px;
}

.flagga {
    border-radius: 20px;
    width: 50vh;
}

.borderulist {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;

}

.infoD {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.borderlista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    border-radius: 30px;
    padding: 0px 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: start;
    white-space: nowrap;
}

.details-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0px;
}

.border-scroll {
    max-width: 370px;
    overflow-x: auto;
    margin-left: 30px;
    flex-wrap: nowrap;
    display: flex;
}

.border-scroll ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.border-scroll li {
    margin-right: 10px;  
    margin-bottom: 10px;
}

.border-scroll a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 10px;
}

.borderlista a {
    color: inherit; 
    text-decoration: none; 
}
.border-scroll a:hover {
    
}

.details-info {
    flex-direction: row;
    gap: 20px;
}

.border-countries {
    flex-direction: row;
    display: flex;
    align-items: center;
}

/* Skeleton */

.skeleton-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }
  
  .skeleton-flag-info {
    background-color: #c1c1c1;
    width: 50vh;
    height: 250px;
    border-radius: 20px;
  }
  
  .skeleton-details-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }
  
  .skeleton-info {
    background-color: #c1c1c1;
    width: 80%;
    height: 16px;
    margin: 8px 0;
    border-radius: 4px;
  }


  @media only screen and (max-width: 480px) {

  /* Details */

  .country-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    align-items: flex-start;
  }

  .buttonArr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 0px;
    top: 100px;
    left: 20px;
}

.flagga {
    width: 42vh;
    border-radius: 10px;
}

.flag-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  margin-top: 10px;
}

.infoD {
    flex-direction: column;
    margin-left: 0px;
    gap: 10px;
    margin-top: -90px;
}


.details-info{
    flex-direction: column;
    gap: 20px;
}

p {
    font-size: 13px;
}

.border-scroll {
    max-width: 350px;
    overflow-x: auto;
    margin-left: 0px;
    flex-wrap: nowrap;
    display: flex;
}

.border-countries{
    flex-direction: column;
    align-items: flex-start;
}

.border-countries h2 {
    font-size: 15px;
}


  }